# R Homework 01

- David Landa

1. Display the whole vector. What is the area of Luzon?
2. What is the average value of the whole vector?
3. Which continent is the largest and what is its area?
4. Which continents/islands have an area larger than 5000?
5. Display the names of 15 smallest and largest continents/islands.
6. Assuming that these are British miles, recalculate the data to km2 (1 sq mi = 2.59 km2)

In [4]:
data(islands)
# [1]
islands

          Africa       Antarctica             Asia        Australia
           11506             5500            16988             2968
    Axel Heiberg           Baffin            Banks           Borneo
              16              184               23              280
         Britain          Celebes            Celon             Cuba
              84               73               25               43
           Devon        Ellesmere           Europe        Greenland
              21               82             3745              840
          Hainan       Hispaniola         Hokkaido           Honshu
              13               30               30               89
         Iceland          Ireland             Java           Kyushu
              40               33               49               14
           Luzon       Madagascar         Melville         Mindanao
              42              227               16               36
        Moluccas      New Britain       New Guinea  New Zealand (N)
              29               15              306               44
 New Zealand (S)     Newfoundland    North America    Novaya Zemlya
              58               43             9390               32
 Prince of Wales         Sakhalin    South America      Southampton
              13               29             6795               16
     Spitsbergen          Sumatra           Taiwan         Tasmania
              15              183               14               26
Tierra del Fuego            Timor        Vancouver         Victoria
              19               13               12               82

In [29]:
# [2]
mean(islands)

[1] 1252.729

In [30]:
# [3]
islands[which.max(islands)]

 Asia
16988

In [31]:
# [4]
islands[which(islands > 5000)]

       Africa    Antarctica          Asia North America South America
        11506          5500         16988          9390          6795

In [28]:
# [5]
# 15 smallest
head((sort(islands)), 15)

       Vancouver           Hainan  Prince of Wales            Timor
              12               13               13               13
          Kyushu           Taiwan      New Britain      Spitsbergen
              14               14               15               15
    Axel Heiberg         Melville      Southampton Tierra del Fuego
              16               16               16               19
           Devon            Banks            Celon
              21               23               25

In [36]:
# 15 largest
tail(sort(islands), 15)

      Britain        Honshu       Sumatra        Baffin    Madagascar
           84            89           183           184           227
       Borneo    New Guinea     Greenland     Australia        Europe
          280           306           840          2968          3745
   Antarctica South America North America        Africa          Asia
         5500          6795          9390         11506         16988

In [38]:
# or
head(sort(islands, decreasing = TRUE), 15)

         Asia        Africa North America South America    Antarctica
        16988         11506          9390          6795          5500
       Europe     Australia     Greenland    New Guinea        Borneo
         3745          2968           840           306           280
   Madagascar        Baffin       Sumatra        Honshu       Britain
          227           184           183            89            84

In [40]:
length(head(sort(islands, decreasing = TRUE), 15)) # test number of items

[1] 15

In [53]:
# [6]
islands * 2.59

          Africa       Antarctica             Asia        Australia
        29800.54         14245.00         43998.92          7687.12
    Axel Heiberg           Baffin            Banks           Borneo
           41.44           476.56            59.57           725.20
         Britain          Celebes            Celon             Cuba
          217.56           189.07            64.75           111.37
           Devon        Ellesmere           Europe        Greenland
           54.39           212.38          9699.55          2175.60
          Hainan       Hispaniola         Hokkaido           Honshu
           33.67            77.70            77.70           230.51
         Iceland          Ireland             Java           Kyushu
          103.60            85.47           126.91            36.26
           Luzon       Madagascar         Melville         Mindanao
          108.78           587.93            41.44            93.24
        Moluccas      New Britain       New Guinea  New Zealand (N)
           75.11            38.85           792.54           113.96
 New Zealand (S)     Newfoundland    North America    Novaya Zemlya
          150.22           111.37         24320.10            82.88
 Prince of Wales         Sakhalin    South America      Southampton
           33.67            75.11         17599.05            41.44
     Spitsbergen          Sumatra           Taiwan         Tasmania
           38.85           473.97            36.26            67.34
Tierra del Fuego            Timor        Vancouver         Victoria
           49.21            33.67            31.08           212.38